<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>967884367557-n09jprnhbot6fj0nqupulq8uf7cns0a1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.967884367557-n09jprnhbot6fj0nqupulq8uf7cns0a1</string>
	<key>API_KEY</key>
	<string>AIzaSyBuEqQNtZ7MWEkgO19D4zyruTF7hOTgP-I</string>
	<key>GCM_SENDER_ID</key>
	<string>967884367557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SubsourceManagerApp</string>
	<key>PROJECT_ID</key>
	<string>subsource-56635</string>
	<key>STORAGE_BUCKET</key>
	<string>subsource-56635.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:967884367557:ios:6bd1cb4cd7b3d61a61b2ac</string>
</dict>
</plist>